crilm/platform.mk
.DS_Store
*/.DS_Store
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.a
*.so
*.*~
*.opt
percells.bin
*.ppp
servctl
sample
samplebin
Archive/*
crilm/calm
crilm/calmbin
swig/*
sent
aha-hash.ml
fertilize
hashun.ml
hrange.ml
stree.ml
treeru
treerun
unis
genlm
